html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #debea1;
  font-family: "Times New Roman", Times, serif;
}

nav {
  background-color: #154d59;
}

.flex-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 30%;
  padding-right: 30px;
}

main {
  margin: 15px 30px 10px 30px;
}

footer {
  margin-top: auto;
  height: 40px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
}

/* CSS for styling the <ul> as cards */
.skills {
  list-style: none;
  flex-direction: column;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 400px;
  margin: 35px;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-size {
  height: 350px;
  width: 400px;
  object-fit: cover;
}

.project-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.headshot {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.headshot-container {
  flex: 1;
  padding: 20px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bio {
  flex: 1;
  text-align: center;
}

.project {
  flex-basis: 30%;
  text-align: center;
}
